<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1> And so our super awesome adventure begins... </h1>
<p> Hello, what's your name: </p>
<form action='/setUserName' method='post'>
  <input type="text" name="userName">
  <input class="button"  type="submit" value="Submit">
</form>
</body>
</html>

